header
    div(class="flex justify-between items-center bg-green-600 p-6")
        div(class="text-3xl ")
            span(class="text-white") NotesApp!
    
        div
            nav(class="flex")
                if user 
                    a(class="nav-link p-2 cursor-pointer text-white  hover:text-slate-100" href="/") Home 
                    a(class="nav-link p-2 cursor-pointer text-white hover:text-slate-100" href="/mynotes/add") Add a note! 
                    a(class="nav-link p-2 cursor-pointer text-white hover:text-slate-100" href="/profile") Profile
                    a(class="nav-link p-2 cursor-pointer text-white hover:text-slate-100" href="/mynotes") My notes
                    a(class="nav-link p-2 cursor-pointer text-white hover:text-slate-100" href="/logout") Log out
                else 
                    a(class="nav-link p-2 cursor-pointer text-white  hover:text-slate-100" href="/") Home 
                    a(class="nav-link p-2 cursor-pointer text-white hover:text-slate-100" href="/signup") Sign up 
                    a(class="nav-link p-2 cursor-pointer text-white hover:text-slate-100" href="/signin") Login 