header
    div(class="flex justify-between items-center bg-green-600 p-6")
        div(class="text-3xl ")
            span(class="text-white") NotesApp!
    
        div
            nav(class="flex")
                a(class="nav-link p-2 cursor-pointer text-white  hover:text-slate-100" href="/") Home 
                a(class="nav-link p-2 cursor-pointer text-white hover:text-slate-100" href="/aboutus") About us 
                a(class="nav-link p-2 cursor-pointer text-white hover:text-slate-100" href="/login") Login